.header {
  width: 100%;
  display: flex;
  height: 10vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.header__title {
  flex-basis: 20%;
  background: #F83745;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__text {
  text-align: center;
  font-size: 1.7rem;
  color: #fffefe;
  text-transform: uppercase;
  margin: 0;
}

.search-bar-container {
  width: 80%;
  background: #FF424F;
  display: flex;
}

.search-bar {
  border: none;
  width: 100%;
  background: inherit;
  position: relative;
  display: flex;
}

.search-bar__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  color: #fffefe;
  font-size: 1.3rem;
}

.search-bar__input {
  background: #FF424F;
  width: 100%;
  font: 1rem/1rem helvetica, sans-serif;
  padding: 0 0 0 3rem;
  border: none;
  color: #fffefe;
}

.search-bar__input:focus {
  border: none;
  outline: none;
  background: #ff424f;
}

.search-bar__input::placeholder {
  color: #fffefe;
}

@media screen and (max-width: 989px) {
  .header__text {
    font-size: 1.4rem;
  }
}