.show-bar-button {
  position: fixed;
  top: 11vh;
  left: 1rem;
  border: 2px solid rgb(48, 56, 61);
  width: 30px;
  height: 30px;
  border-radius: 0.3rem;
  background: transparent;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.6) inset;
  outline: none;
  cursor: pointer;
  display: none;
}

.show-bar-button:active {
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.8) inset;
}

.show-bar-button__icon {
  color: #fc5252;
  font-size: 1.5rem;
}

@media screen and (max-width: 789px) {
  .show-bar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
}