.movies-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  justify-content: space-around;
  align-content: space-around;
}

.movie-showcase__movies-type {
  color: #ffffff;
}

.movie-card {
  flex-basis: 18%;
  height: 50vh;
  border-radius: 0.05rem;
  position: relative;
  color: #ffffff;
  margin-bottom: 2rem;
}

.movie-card:hover {
  cursor: pointer;
  opacity: 0.9;
}

.movie-card__poster {
  width: 100%;
  height: 80%;
  background: rgb(197, 215, 228);
}

.movie-card__img {
  width: 100%;
  height: 100%;
}

.movie-card__rate-mark {
  position: absolute;
  display: inline-block;
  height: 1.4rem;
  padding: 0 0.6rem;
  color: #ffffff;
  top: -0.7rem;
  left: 50%;
  transform: translate(-50%);
  border-radius: 1rem;
  background: #FFB10A;
}

.movie-card__title-text {
  background: inherit;
  margin: 0.5rem 0;
}

.movie-card__text {
  font-size: 0.8rem;
  color: #6B8699;
  margin: 0;
}

